header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center; 
}

nav ul {
    display: flex;
    justify-content: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.http__img img {
    width: 400px;
    height: 250px;
}

.busca__img {
    width: 400px;
    height: 250px;
    margin: 20px 0px 20px 0px;
}

.http__img {
    text-align: right; 
}


.main {
    padding: 20px;
}

.texto {
    text-align: justify;
    margin: 0px 250px 20px 250px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}